<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="starApp()" ><ion-icon color="dark" name="log-in-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="slide-container">
    <section class="slide">
      <ion-img src="assets\icon\logo.png" class="slide-image"></ion-img>
      <h2 class="ion-text-center">
        Selamat Datang di
        <b>PEMIRA</b>
      </h2>
      <p class="ion-text-center">
        Pemilihan bakal calon <b>Ketua Badan Eksekutif Mahasiswa</b> Fakultas Ilmu Komputer Periode 2023</p>
    </section>
  </div>
</ion-content>
