<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToUser()" ><ion-icon color="dark" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-img src="assets\icon\ikon.png" ></ion-img>
      <ion-card-title>{{ data.nama }}</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Data Mahasiswa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>NIM :</ion-label>
        <p>{{ data.nim }}</p>
      </ion-item>
      <ion-item>
        <ion-label>Kelas :</ion-label>
        <p>{{ data.kelas }}</p>
      </ion-item>
      <ion-item>
        <ion-label>Program Studi :</ion-label>
        <p>{{data.prodi}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
