ion-card-title {
    font-size: 16px;
}

ion-button {
    margin: 0 5px;
}

ion-card {
    margin: 0px 0px;
}

.pilih {
    height: 30px;
    width: 60px;
    margin-left: 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-card-title {
    margin-bottom: 10px;
}