<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToAdmin()" ><ion-icon color="dark" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Hapus Kandidat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card> 
      <ion-item>
        <ion-input 
          label="Masukan ID yang akan di hapus"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          placeholder=""
          [(ngModel)]="id" [ngModelOptions]="{standalone: true}"
        >
        </ion-input>
      </ion-item>
      <ion-button class="pilih" color="danger" (click)="submitWithValidateFormInput()"  > Selesai </ion-button>
    </ion-card>
</ion-content>
