<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToAdmin()" ><ion-icon color="dark" name="arrow-back-outline"></ion-icon></ion-button>
      
    </ion-buttons>
    <ion-title>Tambah Peserta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-item>
      <ion-input 
        label="Nama"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.nama" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="NIM"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.nim" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Kelas"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.kelas" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Program Studi"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.prodi" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Role"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.role" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Voting"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder=""
        [(ngModel)]="form.voting" [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-button class="pilih" color="primary" (click)="doAddPeserta()"> Tambah </ion-button>
  <ion-button class="pilih" color="danger" (click)="goToDashboard()"> Selesai </ion-button>
  
</ion-content>
